# Rocq 编译产物
*.vo
*.vok
*.vos
*.glob
*.aux

# 编译过程中产生的中间文件
.*.aux
.coq-globals
*.native
*.byte

# 构建系统生成的辅助文件
Makefile.conf
_CoqProject.bak

# 忽略临时文件和备份文件
*~
\#*#
.#*

# 忽略编辑器和 IDE 生成的配置和临时文件
# VS Code
.vscode/

# Emacs
.emacs.d/